.card-header{
    display: flex;
    &__img{
        width: 98px;
        height: 98px;
        border-radius: 50%;
    }
    &__title{
        font-size: 30px;
    }
    &__sub-title{
        margin-left: 15px;
    }
}

.error{
    width: 100%;
    height: calc(100vh - 113px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #666666;
}