.ContentError{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #31313B;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    top: 250px;
    animation-name: viewCircle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    &__text{
        font-size: 25px;
        color: #fff;
    }
    &__text-subtitle{
        font-size: 14px;
    }
    &__wifi{
        width: 80px;
        height: 80px;
        position: relative;
        margin: 0px 0px 25px 0px;
    }
    &__semi-circle{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-color: #FFFFCC;
        border-style: solid;
        border-width: 1em 1em 0 0 ;
        border-radius: 0 100% 0 0;
        transform: rotate(-45deg);
        opacity: 0;
        animation: semiCircleAnimate 3s infinite ;
        animation-delay: 2s;
    }
    &__first{
        left: 5px;
        top: 12px;
        animation-delay: 1200ms;
    }
    &__second{
        width: 75%;
        height: 75%;
        top: 38px;
        left: 15px;
        animation-delay: 900ms;
    }
    &__tree{
        width: 45%;
        height: 45%;
        top: 65px;
        left: 27px;
        animation-delay: 600ms;
    }
    &__base{
        width: 5%;
        height: 5%;
        top: 90px;
        left: 37px;
        opacity: 1;
        animation: none;
    }
}

@keyframes semiCircleAnimate {
    from { 
        opacity: 0.7 
    };
    to { 
        opacity: 0.1 
    };
}

@keyframes viewCircle {
    from{
        top: 250px;
    };
    to{
        top: 0px;
    }
}