
<div class="ContentError viewError">
    <div class="ContentError__wifi">
        <div class="ContentError__semi-circle ContentError__first"></div>
        <div class="ContentError__semi-circle ContentError__second"></div>
        <div class="ContentError__semi-circle ContentError__tree"></div>
        <div class="ContentError__semi-circle ContentError__base"></div>
    </div>
    <label class="ContentError__text">Reconectando</label>
    <label class="ContentError__text ContentError__text-subtitle">Por favor espere</label>
</div>