ion-searchbar{
    --border-radius: 15px;
}

.content-header{
    &__fab{
        display: flex;
        justify-content: flex-end;
    }
    &__btn-back{
        height: 41px;
        margin-left: 10px;
        --box-shadow: 0px;
    }
    &__search{
        width: 0%;
        display: flex;
        overflow: hidden;
        transition: .5s;
    }
    &__search-on{
        width: 100%;
        transition: .5s;
    }
    &__btn-search{
        display: none;
    }
}

.content-page{
    &__notification{
        display: none;
    }
    &__notification-view{
        display: block;
    }
}

.load-search{
    width: 0%;
    height: 5px;
    background: red;
    position: absolute;
    animation: first-load 0.5s;
    animation-fill-mode: forwards;
}

.load-search--end{
    animation: load-complete 0.5s;
    animation-fill-mode: forwards;
}

@keyframes first-load {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
}

@keyframes load-complete{
    from{
        width: 30%;
    }
    to{
        width: 100%;
    }
}