ion-searchbar{
    --border-radius: 15px;
}

.content-header{
    &__fab{
        display: flex;
        justify-content: flex-end;
    }
    &__btn-back{
        height: 41px;
        margin-left: 10px;
        --box-shadow: 0px;
    }
    &__search{
        width: 0%;
        display: flex;
        overflow: hidden;
        transition: .5s;
    }
    &__search-on{
        width: 100%;
        transition: .5s;
    }
    &__btn-search{
        display: none;
    }
    &__clear{
        position: absolute;
        right: 15px;
        color: black;
        font-size: 25px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}