<ion-header [translucent]="true" class="content-header">
  <ion-toolbar color="primary">
    <div class="content-header__fab">
      <div class="content-header__search" [class.content-header__search-on]="viewInputSearch">
        <ion-button class="content-header__btn-back" 
          (click)="viewInputSearch = !viewInputSearch; viewSearch = false">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-searchbar [formControl]="input" (keydown)="search($event)" 
          showClearButton="never"></ion-searchbar>

        <ion-icon *ngIf="clearView" (click)="clearInput()"
          class="content-header__clear" name="close-outline"></ion-icon>
      </div>
      <ion-fab-button size="small" color="medium" [class.content-header__btn-search]="viewInputSearch"
        (click)="viewInputSearch = !viewInputSearch"><ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <app-notifications *ngIf="!viewSearch"></app-notifications>
  <app-user-search *ngIf="viewSearch" 
    (subscriptions)="addSubCription($event)" [searchsUsers]="searchsUsers"></app-user-search>
</ion-content>
