<div *ngIf="notification.length !== 0">
  <div class="card" *ngFor="let noti of notification; index as i" (click)="changeUrlSubscribed(noti)">
    <div class="card__content-icon">
      <ion-icon class="card__icon" [name]="noti.urlAuth"></ion-icon>
    </div>
    <div class="card__title">
      <h1 class="card__title-text">{{ noti.title }}</h1>
    </div>
    <div [class.card__img-content]="noti.urlAuth === 'logo-twitch'">
      <img class="card__img" [src]="noti.thumbnail" alt="">
    </div>
    <div class="card__description">
      <p class="card__description-text">{{ noti.message }}</p>
    </div>
  </div>
  
  <ion-infinite-scroll class="infinite-scroll" 
    threshold="80%" (ionInfinite)="loadNewsNotifications($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" 
        loadingText="Cargando nuevas nofiticaciones...">
        <label class="infinite-scroll__message" 
         *ngIf="notLoadNotification">No exiten notificaciones recientes</label>
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

<div class="error-message" *ngIf="notification.length === 0">
  <div class="error-message__notifications" *ngIf="subscribedCopy !== null">
    <ion-icon class="error-message__notification-icon" name="notifications-off-outline"></ion-icon>
    <label class="error-message__text">No hay nuevas notificaciones</label>
  </div>
  <label class="error-message__text" *ngIf="subscribedCopy === null">
    No tienes subscripciones activas
  </label>
</div>