
.loading{
    width: 100%;
    height: calc(100vh - 56px);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    &__content{
        width: 250px;
        height: 250px;
        background: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        animation-name: shadow;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
    }
    &__content-logo{
        width: 40%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__point{
        top: -50px;
        width: 25px;
        height: 25px;
        position: absolute;
        background: rgb(12, 12, 11);
        border-radius: 50%;
    }
    &__point1{
        left: 0px;
        animation: point, pointTransfor;
        animation-duration: 1s, 1s;
        animation-delay: 0s, 1s;
        animation-fill-mode: forwards, forwards;
        animation-timing-function: linear, linear;
    }
    &__point2{
        right: 0px;
        animation: point, pointTransfor;
        animation-duration: 1s, 1s;
        animation-delay: 0s, 1s;
        animation-fill-mode: forwards, forwards;
        animation-timing-function: linear, linear;
    }
    &__point3{
        animation-name: barra, transforbarra;
        animation-duration: 1s, 1s;
        animation-delay: 1s, 2s;
        animation-fill-mode: forwards, forwards;
        animation-timing-function: linear, ease;
    }
}

@keyframes point {
    0%{
        top: -50px;
    }
    60%{
        top: 80%;
        transform: translateY(-80%);
    }
    100%{
        top: 50%;
        transform: translateY(-50%);

    }
}

@keyframes barra {
    0%{
        top: -50px;
    }
    60%{
        top: 80%;
        transform: translateY(-80%);
    }
    100%{
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes transforbarra {
    from{
        top: 50%;
        transform: rotate(-39deg) translateY(-50%);
        border-radius: 50%;
    }
    to{
        top: 28%;
        height: 110px;
        transform: rotate(-39deg);
        border-radius: 0;
    }
}

@keyframes pointTransfor {
    from{
        top: 50%;
        transform: translateY(-50%);
    }
    to{
        height: 100px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0;
    }
}

@keyframes shadow {
    0%{
        box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
    }
    50%{
        box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    }
    100%{
        box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff;
    }
}