<div class="add-img">
  <div class="add-img__cover-file">
    <div class="add-img__desing-file" [class.add-img__desing-file-error]="messageError !== ''">
      <img class="add-img__img" [src]="imgRout" alt="">
      <div class="add-img__message">
        <p class="add-img__text">Se recomienda utilizar una 
          imagen de 98x98 píxeles</p>
        <p class="add-img__text" 
          [class.add-img__error]="messageError === 'sizeMax'">4 MB como máximo</p>
        <p class="add-img__text" 
          [class.add-img__error]="messageError === 'errorType'">Usa un archivo PNG</p>
      </div>
    </div>
  </div>
  <input (change)="addImg($event)" #input class="add-img__file" type="file">
</div>
<div class="upload-btn">
  <ion-button class="upload-btn__btn" [disabled]="!validUpload" color="secondary">Subir</ion-button>
</div>
