

<div class="add-img">
  <div class="add-img__cover-file">
    <div class="add-img__desing-file" [class.add-img__desing-file-error]="messageError !== ''">

      <div class="add-img__content-img">
        <ion-fab class="add-img__fab" (click)="deleteImg()" 
          *ngIf="imgRout !== './assets/icon/no-image.png' ">
          <ion-fab-button size="small">
            <ion-icon name="close-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  
        <img class="add-img__img" [src]="imgRout" alt="">
      </div>
      
      <div class="add-img__message">
        <p class="add-img__text">Se recomienda utilizar una 
          imagen de 98x98 píxeles</p>
        <p class="add-img__text" 
          [class.add-img__error]="messageError === 'sizeMax'">4 MB como máximo</p>
        <p class="add-img__text" 
          [class.add-img__error]="messageError === 'errorType'">Usa un archivo PNG</p>
      </div>

    </div>

  </div>

  <input (change)="addImg($event)" #input class="add-img__file" type="file">
</div>

<div class="upload-btn">
  <ion-button class="upload-btn__btn" 
    (click)="uploadFile()" 
    [disabled]="!validUpload" 
    color="secondary">Subir</ion-button>
    <ion-button class="upload-btn__btn"
    (click)="closeModal()"
    color="danger">Cancelar</ion-button>
</div>
