<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="content">
    <div (click)="isModalOpen = true">
      <img class="content__img" [src]="imgPerfil" alt="">
    </div>
    <form class="content__form" [formGroup]="registerFrom">
      <ion-item class="content__input">
        <ion-label position="floating">User Name</ion-label>
        <ion-input formControlName="userName"></ion-input>
        <div class="content__error" 
          *ngIf="registerFrom.controls.userName.hasError('required') && 
            (registerFrom.controls.userName.dirty || registerFrom.controls.userName.touched)">
          El nombre de usuario es requerido
        </div>
      </ion-item>
      
      <ion-item class="content__input">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input formControlName="fullName"></ion-input>
        <div class="content__error" 
          *ngIf="registerFrom.controls.fullName.hasError('required') && 
            (registerFrom.controls.fullName.dirty || registerFrom.controls.fullName.touched)">
          El nombre es requerido
        </div>
      </ion-item>
      <ion-item class="content__input">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
        <div class="content__error" 
          *ngIf="registerFrom.controls.email.hasError('required') && 
            (registerFrom.controls.email.dirty || registerFrom.controls.email.touched)">
          El email es requerido
        </div>
        <div class="content__error" 
          *ngIf="registerFrom.controls.email.hasError('email') && 
            (registerFrom.controls.email.dirty || registerFrom.controls.email.touched)">
          Introdusca un correo valido
        </div>
        <div class="content__error" 
          *ngIf="emailInUsed">
          El correo ya esta registrado
        </div>
      </ion-item>
      <ion-item class="content__input">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #fisrtPassword 
          (keyup)="verifiedPassword()" formControlName="fisrtPassword"></ion-input>
        <div class="content__error" 
          *ngIf="registerFrom.controls.fisrtPassword.hasError('required') && 
            (registerFrom.controls.fisrtPassword.dirty || registerFrom.controls.fisrtPassword.touched)">
          la clave es requerida
        </div>
      </ion-item>
      <ion-item class="content__input">
        <ion-label position="floating">Verified Password</ion-label>
        <ion-input type="password" #verified (keyup)="verifiedPassword()" formControlName="verifiedPassword"></ion-input>
        <div class="content__error" 
          *ngIf="registerFrom.controls.verifiedPassword.hasError('required') && 
            (registerFrom.controls.verifiedPassword.dirty || registerFrom.controls.verifiedPassword.touched)">
          verifique la clave es requerido
        </div>
        <div class="content__error" 
          *ngIf="equalPassword && (registerFrom.controls.verifiedPassword.dirty || registerFrom.controls.verifiedPassword.touched)">
          la clave no coincide
        </div>
      </ion-item>
    </form>
  
    <div class="content__btn-zone">
      <ion-button class="content__btn" color="secondary" 
          [disabled]="!registerFrom.valid" (click)="register()">Registrase</ion-button>
      <ion-button class="content__btn" color="danger" (click)="cancel()">Cancelar</ion-button>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="ionModalDidDismiss(false)">
    <ng-template>
      <app-modal-add-img (file)="addFile($event)" (cancel)="ionModalDidDismiss($event)"></app-modal-add-img>
    </ng-template>
  </ion-modal>

</ion-content>
